.container{
    display:grid;
    height: 50vh;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows:auto;
   align-items: center;
   padding: 100px;
   margin: 20px;

}

#box{
    background-color: pink;
    padding: 20px;
    margin: 20px;
    font-size: larger;
    font-weight: bolder;
}
@media (max-width:550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }}
